<footer class="footer">
  <div class="container-footer">
    <span class="text">Все права защищены</span>
  </div>
</footer>

<style>
  .footer {
    height: 40px;
    margin-top: 100px;
    padding-top: 20px;
    background-color: ghostwhite;
  }
  .text {
    margin-left: 50px;
  }
  .container-footer {
    text-align: left;
  }
</style>

