
<header class="header" >
    <div class="container" >
        <!--<span class="text-muted">Все права защищены</span>-->
        <!--<form href="/news/allhb" target="_blank">
        <button>Список новостей</button>-->
        <div >
        <span style="display: block; margin-bottom: 5px; ">ООО "РАНТЬЕ ФИНАНС ГРУПП"</span>
        <button onclick= "document.location ='/memo-list'">Список заметок</button>
        </div>
   
        {{!-- <a href="/blog/">На главную</a>
        
        <div id="add_news"></div>
        <!--<a href="/news/create/new">Добавить новость</a>-->
        <a href="/blog/news/auth">Авторизация</a>
        <a href="/blog/news/registr">Регистрация</a>

        <a  id = "user" style="color: rgb(94, 255, 0);"></a> --}}
   
    </div>
    

</header>

<style>
    .container  {
        /*justify-content: space-around;
        display: flex;*/
        /*padding-left: auto;
        padding-right: auto;*/
        
        
    }
    .header {
        padding-top: 20px;
        height: 50px;
        width: auto;
        margin-bottom: 30px;
        background-color: ghostwhite;
        border: 5px ghostwhite;
    }
    h3{
        margin-left: auto;
        margin-right: auto;
    }
    body { text-align: center; }
</style>
