<h1>Создание заметки</h1>
<form id="form" method="post" action="/memo-list" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="titleInput" class="form-title">Заголовок</label>
    <input class="form-control" name="title" id="titleInput">
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Описание</label>
    <textarea class="form-control" name="description" id="descriptionInput" rows="3"></textarea>
  </div>
  <!--<div class="mb-3">
    <label for="authorInput" class="form-label">Автор</label>
    <input class="form-control" name="author" id="authorInput">
  </div>-->
  {{!-- <div class="mb-3" style="display: none;">
    <label for="dateInput" class="form-label">Дата создания</label>
    <input class="form-control" name="createdAt" id="dateInput">
  </div> --}}
   <!--<div class="mb-3" id="dateInput" name="createdAt">Дата создания{{this.value}}</div>-->
  
<!--  <input type="submit" value="Создать">-->
  <button type="button" class="btn" onclick='sendForm1()'>Создать</button>
</form>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
  });
  //document.getElementById('dateInput').value = new Date().toDateInputValue();

  function sendForm() {
    var data = new FormData($('form')[0]);
      //console.log('data', JSON.stringifi(data));
      //var suser = JSON.parse(localStorage.getItem('user'));
      data.set('userId', 1);
      const formDataObj = {};
      data.forEach((value, key) => (formDataObj[key] = value));
      console.log('data', formDataObj);
      console.log('data', data);
      //return;
    $.ajax({
      url: '/memo-list',
      data: formDataObj,
      cache: false,
      contentType: data,
      processData: false,
      method: 'POST',
      success: function() {
        alert('Новость создана')
        window.location.href = '/news/all';
      }
    });
  }

  async function sendForm1()
        {
            
            const form = document.getElementById("form");
            // отправляем POST запрос на сервер
            let response = await fetch('/memo-list', {
                method: 'POST',          // метод POST
                body: new FormData(form) // в класс FormData передаем ссылку на форму
            });

            // получаем JSON
            let result = await response.json();

            console.log(result);
            window.location.href = `/memo-list`;
        };
</script>
<style>
  .form-control {
    width: 300px;
    margin-top: 20px;
    
  }
  .btn {
    margin-top: 20px;
  }
</style>
